<div class="row">
  <h1>Proyectos</h1>
  <div class="contenedor">
    <div
      class="col-sm-10 col-md-5 col-lg-5 offset-sm-1 offset-md-1 offset-lg-1 texto"
    >
      <h3>Portfolio Argentina Programa</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
        assumenda tempore veritatis inventore ab quae ratione qui repellendus,
        esse totam expedita at dolorem itaque tenetur ipsum ad dignissimos quas
        accusantium.
      </p>
    </div>
    <div
      class="col-sm-10 col-md-4 col-lg-4 offset-sm-1 offset-md-1 offset-lg-1 imagen"
    >
      <img
        src="../../../assets/portfolio.png"
        alt=""
        class="img-fluid imgportfolio"
      />
    </div>
  </div>
</div>
