<div class="row">
  <h1>Proyectos</h1>
  <div class="contenedor">
    <div
      class="col-sm-10 col-md-5 col-lg-5 offset-sm-1 offset-md-1 offset-lg-1 texto"
    >
      <h3>Portfolio Argentina Programa</h3>
      <p>
        Pagina de Portfolio web, es la entrega final de proyecto de fin de curso
        de Argentina Programa, en el mismo utilicé CSS y HTML, JWT para el
        login, ademas de php, TypeScript para la edición de los componentes,
        contruido en NodeJs con angular, firebase para el deploy del frontend,
        Java en el backend, MySQL para la base de datos que almacena la
        informacion mostrada en cada componente editable e intente hacerlo
        reponsive para su visualización en dispositivos móviles.
      </p>
    </div>
    <div
      class="col-sm-10 col-md-4 col-lg-4 offset-sm-1 offset-md-1 offset-lg-1 imagen"
    >
      <img
        src="../../../assets/portfolio.png"
        alt=""
        class="img-fluid imgportfolio"
      />
    </div>
  </div>
</div>
