<div class="row">
  <h1>Educación</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <ul>
      <li>
        <h1>educacion 1</h1>
        -
        <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        excepturi, harum ut quam iure modi voluptatibus. Explicabo expedita
        asperiores facere odio eius deserunt autem eaque, doloremque unde ipsam
        doloribus quaerat.
      </p>
    </ul>
    <ul>
      <li>
        <h1>educacion 2</h1>
        -
        <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        excepturi, harum ut quam iure modi voluptatibus. Explicabo expedita
        asperiores facere odio eius deserunt autem eaque, doloremque unde ipsam
        doloribus quaerat.
      </p>
    </ul>
  </div>
</div>

<div class="row">
  <h1>Otros Estudios</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <ul>
      <li>
        <h1>estudios 1</h1>
        -
        <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        excepturi, harum ut quam iure modi voluptatibus. Explicabo expedita
        asperiores facere odio eius deserunt autem eaque, doloremque unde ipsam
        doloribus quaerat.
      </p>
    </ul>
    <ul>
      <li>
        <h1>estudios 2</h1>
        -
        <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        excepturi, harum ut quam iure modi voluptatibus. Explicabo expedita
        asperiores facere odio eius deserunt autem eaque, doloremque unde ipsam
        doloribus quaerat.
      </p>
    </ul>
    <ul>
      <li>
        <h1>estudios 3</h1>
        -
        <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        excepturi, harum ut quam iure modi voluptatibus. Explicabo expedita
        asperiores facere odio eius deserunt autem eaque, doloremque unde ipsam
        doloribus quaerat.
      </p>
    </ul>
    <ul>
      <li>
        <h1>estudios 4</h1>
        -
        <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        excepturi, harum ut quam iure modi voluptatibus. Explicabo expedita
        asperiores facere odio eius deserunt autem eaque, doloremque unde ipsam
        doloribus quaerat.
      </p>
    </ul>
  </div>
</div>
