<div>
  <a href="https://www.linkedin.com/in/yonathangarcia/">
    <img
      src="../../../assets/linkedin.png"
      alt=""
      width="50px"
      class="d-inline-block align-text-top"
    />
  </a>

  <a href="https://github.com/yonathangarcia">
    <img
      src="../../../assets/github.png"
      alt=""
      width="50px"
      class="d-inline-block align-text-top"
    />
  </a>

  <a href="https://twitter.com/Yonathan_GL">
    <img
      src="../../../assets/twitter.png"
      alt=""
      width="50px"
      class="d-inline-block align-text-top"
    />
  </a>
</div>
