<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="col-lg-1"></div>
  <div class="text-center col-lg-10">
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
      [title]="'HTML'"
      [titleColor]="'#FFFFFF'"
      [showSubtitle]="false"
      [showUnits]="false"
      [percent]="85"
      [radius]="80"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
  </div>
</div>
