<div class="row">
  <div class="container">
    <div class="logo">
      <a
        href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
      >
        <img src="../../../assets/APLogo.png" id="imglogo" />
      </a>
    </div>
    <div class="redes">
      <a href="https://www.linkedin.com/in/yonathangarcia/">
        <img
          src="../../../assets/linkedin.png"
          alt=""
          width="40px"
          id="imgredes"
        />
      </a>
      <a href="https://github.com/yonathangarcia">
        <img
          src="../../../assets/github.png"
          alt=""
          width="40px"
          id="imgredes"
        />
      </a>
      <a href="https://twitter.com/Yonathan_GL">
        <img
          src="../../../assets/twitter.png"
          alt=""
          width="40px"
          id="twitter"
        />
      </a>
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="login()"
        *ngIf="!isLogged"
      >
        LOGIN
      </button>
      <button
        type="button"
        class="btn btn-outline-light"
        (click)="onLogOut()"
        *ngIf="isLogged"
      >
        CERRAR SESIÓN
      </button>
    </div>
  </div>
</div>
