<div class="row" id="divinfo">
  <div class="col-xs-12 col-sm-1 col-md-3 col-lg-3"></div>
  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
    <h4 id="nombre">Garcia Yonathan Exequiel</h4>
    <p></p>
    <h6>Fullstack Developer Jr.</h6>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
    <h1>Acerca de mí</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sequi quo
      odio quam obcaecati, hic incidunt corrupti voluptas quasi animi quia
      repellendus veniam, perspiciatis culpa voluptates illo tempore? Voluptas,
      voluptatem?
    </p>
  </div>
</div>
